html {
  scroll-behavior: smooth;
}

body { 
    padding: 0; margin: 0; 
    background: white;
}

.splash-page {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    z-index: -99;
    opacity:1;
}

.navbar {
    background-color: #3a5c78;
    display: flex;
    width: 35%;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 350;
    font-size: 28px;
    color: white;
    line-height: 35px;
    padding-top: 10px;
    width: 100%;
    cursor: default;
}

a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: inherit;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.075em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.15em, 0);
}
.nav-button {
    height: 10%;
}

.title {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 65%;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    color: #000000; 
}

.headline {
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 90px;
    color: #383838;
    line-height: 0px;
    height: 150px;
}

.subline {
    padding-left: 10%;
    position: relative;
    font-size: 30px;
    color: #383838;
    line-height: 30px;
    height: 90px;
    width: 60%;
}

#headshot {
    position: absolute;
    height: 360px;
    width: 280px;
    top: 20%;
    left: 55%;
    border-radius: 20px;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    color: #383838;
    height: 1600px;
    background: white;
    z-index:1000;
    margin-top:100%;
}

.logos {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#resume {
    height: 1130px;
    width: 826px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-color: white;
    color: white;
    height: 300px;
    background-color: #383838;
    background-color: #3a5c78;
    z-index:1000;
}



